@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Variáveis do projeto */
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-menor: 24px;
    --fonte-maior: 36px;
    --peso-menor: 400;
    --peso-maior: 600;
}

/* Esse é o nosso reset-CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
/*100vh = o body vai ocupar 100% da tela do navegador */
/* o boz-sizing é uma propriedade que garante que os componentes dos elementos-filhos não saiam de dentro da tag pai */

.cabecalho {
    padding: 2% 0% 0% 10% ;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-menor);
    font-weight: var(--peso-maior);
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: var(--fonte-maior);
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: var(--fonte-menor);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: var(--peso-menor);
    font-size: var(--fonte-menor);
}

.apresentacao__links__link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: var(--fonte-menor);
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: var(--peso-maior);
}
/* Nas propriedades padding: e margin: o primeiro valor é do eixo VERTICAL, e o segundo valor é do eixo HORIZONTAL */

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-menor);
    font-weight: var(--peso-menor);
}